* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fffdfe;
}

main {
  max-width: 35em;
  max-height: 35em;
  background: #1f2937;
}
