@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fffdfe;
  font-family: "Inter", sans-serif;
}

main {
  width: 30em;
  height: 30em;
  background: #1f2937;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0em 0.5em 0.5em 0em #19145d;
}

form {
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

input[type="color"] {
  width: 4em;
  height: 3em;
}

select {
  background: #1f293a;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px 0px #0000000d;
  padding: 0.5em 0.8em;
  flex: 1;
  color: #d5d4d8;
  line-height: 1.5em;
  letter-spacing: 0%;
  height: 3em;
  border-radius: 0.375em;
}

select option{
    font-weight: 100;
}

select option:checked {
    font-weight: 800;
    text-decoration: underline;
}

button {
  font-family: inherit;
  height: 3em;
  border-radius: 4px;
  border: none;
  background: #3d4b60;
  color: #d5d4d8;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0%;
  box-shadow: 0px 1px 2px 0px #0000000d;
  padding: 0.8em;
  transition: scale 0.3s ease;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
  box-shadow: 0px 1px 2px 0px #d5d4d8;
}

.color-section {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.color {
  width: 6em;
  flex: 1;
  height: 23em;
}

.hex-color {
  height: 2.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d5d4d8;
  font-size: 0.75em;
  line-height: 1em;
  letter-spacing: 0%;
  text-transform: uppercase;
}
