* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fffdfe;
}

main {
  width: 30em;
  height: 30em;
  background: #1f2937;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
}

form {
  padding: 1em 0.5em;
  display: flex;
  align-items: center;
  gap: .75em;
}

input[type="color"]{
    width: 4em;
    height: 3em;
}

